body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}



header{
    display: flex;
    align-items:baseline;
    justify-content: space-around;
    background-color: #1F2937;
    color: white;

    
}

header > h1{
    font-size: 24px;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap:20px;

}
.strip{
    display: flex;
    height: 30rem;
    padding: 40px;

}

.first{
    background-color: #1F2937;
    justify-content: center;
    gap: 50px;
    align-items: center;
    color: white;
}


.column-items{
    width: 24%;
}

.column-items > p{
    color: #b9b9b9;
    font-size: 18px;
}

.column-items > h1{
    font-size: 48px;
    font-weight: 900;
}

.image-placeholder{
    background-color: #a7abb1;
    padding: 70px;
}

button{
    color: white;
    background-color: #3882f6;
    border-radius: 6px;
    border-style: none;
    padding: 4px 25px;
}


/*second strip*/
.second{
    flex-direction: column;
    align-items: center;
}


img{
    border-style: solid;
    border-color: #3882f6;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.images-group{
    display: flex;
    justify-content: center;
    gap: 46px;
    
}

.image-and-caption > p{
    width: 180px;
    font-size: 18px;
    text-align: center;
    color: #b9b9b9;
}

/*third strip*/
.third{
    background-color: #b9b9b9;
    align-items: center;
    justify-content: center;
}

.quote{
    display: flex;
    flex-direction: column;
    width: 63%;
}

.text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.thor{
    font-size: 22px;
    font-weight: bold;
    align-self: flex-end;
}

.fourth{
    align-items: center;
    justify-content: center;
}

.blue-content{
    display: flex;
    background-color: #3882f6;
    align-items: baseline;
    margin: 0;
}

.blue-content > button {

    border-style: solid;
    border-color: white;
    align-self: center;
    
    
}

.sign-up-text{
    display: flex;
    flex-direction: column;
    margin: 0;
}
